<!doctype>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <!-- Stylesheets -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />

    <!-- Javascript -->
    <script src="/js/script.js" type="javascript"></script>
    <script src="/js/bootstrap.min.js" type="javascript"></script>
  </head>

  <body>
    <div class="container">
      <h1>Error</h1>
    </div>
  </body>
</html>
