<!doctype>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <!-- Stylesheets -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <form action="/newportal" method="post">
      <input type="text" name="name" placeholder="Portal name" />
      <input type="color" name="bgcolor" placeholder="Background Color" />
      <input type="color" name="fgcolor" placeholder="Foreground Color" />
      <input type="checkbox" name="email_login_field" value="true" />
      <select multiple name="languages">
        <option value="sv">Svenska</option>
        <option value="dk">Danska</option>
        <option value="en">English</option>
        <option value="fi">Finska</option>

      </select>

      <select>
        <option></option>
      </select>
      <input type="submit" value="Create JSON" />
    </form>
  </body>

</html>
