<!doctype>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <!-- Stylesheets -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <form action="/newportal" method="post">
      <input type="text" name="name" placeholder="Portal name" />
      <input type="text" name="bgcolor" placeholder="Background Color" />
      <input type="text" name="fgcolor" placeholder="Foreground Color" />
      <input type="checkbox" name="email_login_field" value="true" />
      <input type="submit" value="Create JSON" />
    </form>
  </body>

</html>
