<!doctype>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <!-- Stylesheets -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />

    <!-- Javascript -->
    <script src="/js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="/js/script.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
  </head>

  <body>
    <div class="container">
      <form action="/newportal" method="post">
        <div class="form-group">
          <label for="portalName">Portal name:</label>
          <input type="text" class="form-control" id="portalName" name="portalname" placeholder="Portalname">
        </div>
        <div class="form-group color">
          <label for="bgcolor">Background Color:</label>
          <input type="color" class="form-control" name="bgcolor" id="bgcolor" />
        </div>
        <div class="form-group color">
          <label for="fgcolor">Foreground Color:</label>
          <input type="color" class="form-control" name="fgcolor" id="fgcolor" />
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="map" value="true">Map
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="connectivity" value="true">Connectivity
          </label>
        </div>

        <select id="langList" class="list-group" multiple>
        </select>

        <select id="selectedLangs" class="list-group" multiple name="languages">
        </select>

        <input type="submit" class="btn btn-primary" value="Create JSON" />
      </form>

    </div>

    <iframe src="/iframe"></iframe>

    <script src="/js/jquery-3.1.1.min.js" type="javascript"></script>
    <script src="/js/script.js" type="javascript"></script>
  </body>
</html>
